body {
    background: linear-gradient(to right, aqua, green);
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    background-color: black;
    color: white;
    width: 500px;
    border-top: 1px solid black;
    border-radius: 0 0 20px 20px;
    margin: 0 0 0 500px;
}

.grid-item {
    text-align: center;
    padding: 8px 0;
    min-height: 33px;
    color: white;
}

#div1 {
    min-height: 150px;
    width: 500px;
    border-top: 1px solid blueviolet;
    border-radius: 20px 20px 0 0;
    background-color: blueviolet;
    margin: 200px 500px 0 500px;
}

#main {
    width: 20%;
    margin: 10% auto;
    text-align: right;
}

h2 {
    padding-right: 5px;
}

/* Add any additional styling or classes as needed */
